@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-FiraSans: "Fira Sans", sans-serif;
  --shadow-my: 0 4px 24px 0 rgba(150, 150, 150, 0.12);
  --shadow-hover: 0 4px 24px 0 rgba(254, 200, 11, 0.25);
  --shadow-InputHover: 0 4px 10px 0 rgba(254, 200, 11, 0.25);
  --shadow-Header: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  --shadow-HeaderDark: 0 2px 20px 0 rgba(255, 255, 255, 0.2);
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  html,
  body {
    @apply bg-white dark:bg-slate-900 transition-colors duration-300;
  }
}
button {
  cursor: pointer;
}
.container1 {
  width: 100%;
  max-width: 1360px;
  margin-inline: auto;
  padding-inline: 20px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(84, 86, 88);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5a5d62; /* Hover bo'lganda gray-400 */
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  min-width: 20px;
  min-height: 20px;
  border: 2px solid #cbd5e1;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.custom-checkbox:checked {
  background-color: #fec80b;
  border-color: #fec80b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
}

.swiper {
  width: 100%;
  height: 100%;
}

.hero-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

.hero-bullet:hover {
  background-color: #ffffff;
}

.hero-bullet-active {
  background-color: white;
}
